<div class='item-header'>
  <div>
    {{#if title}}
      <span class='item-header-title'>
        <span class='item-company-name'>
          {{title}}
        </span>
      </span>
      &nbsp;
    {{/if}}
    {{#if website}}
      <span class='item-company-website'>
        <a href='{{website}}' target='_blank' rel='noopener'>
          {{website}}
        </a>
      </span>
    {{/if}}
  </div>
  {{#if subtitle}}
    <div class='item-header-subtitle'>
      {{subtitle}}
    </div>
  {{/if}}
</div>